{% extends 'frdm-k64f.jinja2' %}
{% set board_id = '02400226e0a34e5c0000000000000000000000001d7ab3e4' %}
{% set exclusive = 'True' %}
{% set hard_reset_command = '/root/scripts/reset-port-pykush.sh YK22916 1' %}
{% set power_off_command = '/root/scripts/power-off-pykush-port.sh YK22916 1' %}
{% set power_on_command = '/root/scripts/power-off-pykush-port.sh YK22916 1' %}
{% set connection_command = 'telnet 127.0.0.1 2001' %}
