{% extends 'nrf52-nitrogen.jinja2' %}
{% set board_id = '9009022109BE4B3EF46024CF' %}
{% set exclusive = 'True' %}
{% set hard_reset_command = '/root/scripts/reset-port-pykush.sh YK23428 3' %}
{% set power_off_command = '/root/scripts/power-off-pykush-port.sh YK23428 3' %}
{% set power_on_command = '/root/scripts/power-off-pykush-port.sh YK23428 3' %}
{% set connection_command = 'telnet 127.0.0.1 2027' %}
