{% extends 'nrf52-nitrogen.jinja2' %}
{% set board_id = '9009022108BF3FC4F5615035' %}
{% set exclusive = 'True' %}
{% set hard_reset_command = '/root/scripts/reset-port-pykush.sh YK23310 1' %}
{% set power_off_command = '/root/scripts/power-off-pykush-port.sh YK23310 1' %}
{% set power_on_command = '/root/scripts/power-off-pykush-port.sh YK23310 1' %}
{% set connection_command = 'telnet 127.0.0.1 3000' %}
