{% extends 'nrf52-nitrogen.jinja2' %}
{% set board_id = '900902210FBC841AF262EBEB' %}
{% set exclusive = 'True' %}
{% set hard_reset_command = '/root/scripts/reset-port-pykush.sh 2' %}
{% set power_off_command = 'flock /var/lock/lava-pykush.lck pykush -s YK22916 -d 2' %}
{% set power_on_command = 'flock /var/lock/lava-pykush.lck pykush -s YK22916 -u 2' %}
{% set connection_command = '/root/scripts/connect-to-nrf52-nitrogen-01.sh' %}
